body {
    background-color: #efef83;
    margin: 20px;
    padding: 10px;
}

h1 {
    text-align: center;
    color:#2C79D5;
    font-family: Solitreo;
   
}

#img_perfil {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    
}

#perfil {
    text-align: center;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
   
}
h2, h3{
    font-family: Solitreo;
    color: #3185EA;
    text-decoration: underline;
}
li {
    font-family: Roboto;
}

#pie {
    text-align: center;
}

#img_salsipuedes{
    display: none;
}

#pasatiempo {
    font-weight: bold;
}
