body {
    background-color: #efef83;
}

h1 {
    text-align: center;
   
}

#img_perfil {
    display: flex;
    justify-content: center;
    }

#perfil {
    text-align: center;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
   
}
h1, h2, h3{
    font-family: Solitreo;
}
li {
    font-family: Roboto;
}

#pie {
    text-align: center;
}

#demo {
    font-weight: bold;
}

#img_salsipuedes{
    display: none;
}

#pasatiempo {
    font-weight: bold;
}
