body {
    background-color: rgb(239, 239, 131);
}

h1 {
    text-align: center;
   
}

div {
    display: flex;
    justify-content: center;
    }

img{
    text-align: center;
}
h1, h2{
    font-family: Solitreo;
}
li {
    font-family: Roboto;
}

#pie {
    text-align: center;
}